* {
    box-sizing: border-box;
}

body {
    background-color: hsla(89, 43%, 51%, 0.3);
}

li {
    color: #FEf4f4;
    background-color: #503A3A;
    /* color: #503A3A;
    background-color: #FEf4f4; */
    height: 40px;
    margin: 5px 0px;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
}

.header {
    overflow: hidden;
    background-color: #2e282e;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    color: white;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
}

.main {
    margin: 50px auto auto;
    width: 90%;
    padding: 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #2e282e;
    color: white;
    text-align: center;
    line-height: 50px;
}

.lado-esquerdo{
    background-color: #FEf4f4;
    width: 30%;
    height: 500px;
    position: relative;
}

.lado-direito{
    background-color: #2E2828;
    width: 70%;
    height: 500px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.coluna {
    float: left;
    padding: 10px;
}

.tabela-div {
    display: table;
    padding: 7px;
}

.tr-div{
    display: table-row;
    background-color: rgb(164, 241, 215);
    padding: 7px;
}

.menu-vertical{
    width: 100%;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn-div{
    display: inline-block;
    width: 150px;
    border: #2E2828 solid 1px;
    margin: 0 auto 20px;
    padding: 7px;
    border-radius: 15px;
}

.btn-div-ativo {
    background-color: #503A3A;
    display: table-cell;
    width: 150px;
    border: #FEf4f4 solid 1px;
    margin: 0 auto 20px;
    padding: 7px;
    border-radius: 15px;
    color: #FEf4f4;
}

.div-adiciona-nova-tarefa{
    display:inline-block;

}

.input-adiciona-nova-tarefa{
    background-color: #fff;
    width: 200px;
    height: 40px;
    padding-left: 15px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-right: -4px;
    border: 1px solid #2E2828;
}

.btn-adiciona-nova-tarefa{
    padding: 10px 15px;
    height: 40px;
    background-color: #2E2828;
    color: white;
    cursor: pointer;
    border: 1px solid #2E2828;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.btn-sucesso {
    border-radius: 2px solid #4CAF50;
    border-radius: 5px;
    color: #FEf4f4;
    padding: 5px 10px;
    font-size: large;
    background-color: #4CAF50;
}

.btn-abandonar{
    border-radius: 2px solid #555555;
    border-radius: 5px;
    color: #FEf4f4;
    padding: 5px 10px;
    font-size: large;
    background-color: #555555;
}

.div-no-pe{
    position: absolute;
    bottom: 0;
    right: 50%;
}

.span-icone-cocluida{
    background-color: #f44336;
    float: right;
    margin: 7px 2px;
    border-radius: 5px;
    cursor: pointer;
}

.span-icone-editar{
    background-color: #4CAF50;
    float: right;
    margin: 7px 2px;
    border-radius: 5px;
    cursor: pointer;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.div-dia > span{
    display: table;
    margin: 0 auto;
}

#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    width: 400px;
    z-index: 9999;
}

#popup h2 {
    margin-top: 0;
}

#openPopup {
    margin-top: 20px;
}

#closePopup {
    margin-top: 20px;
}